.track_detail{
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: gray;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .slide_down_handle{
    margin-top: -5px;
    img{
      width: 100%;
    }
  }
}